<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"  slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 17%;">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center;">
    <img style="background-color: goldenrod;" src="/assets/logo-removebg-preview.png">
  </div>
  <ion-card>
    <ion-card-content>
         <div>
          <p>Ingresa tu email</p>
          <br>
          <ion-item>
            <ion-input [(ngModel)]="email" placeholder="correo@duocuc.cl" ></ion-input>
            <ion-icon name="mail"></ion-icon>
          </ion-item>
        </div>

        <br><br><br><br><br>
        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
          <ion-fab-button (click)="resetPassword()">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        
      
    </ion-card-content>
  </ion-card>
</ion-content>
