ion-card-title {
    text-align: center;
    font-size: 25pt;
    margin-top: 20px; /* Ajusta el margen según sea necesario */
    color: #333; /* Color del texto */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según tu preferencia */
  }
  
.input{
    font-size: 300;
}

ion-item{
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

p{
    font-size: 18px;
}